body {
    background-color: #EEEEEE;
    font-family: 'Sometype Mono', monospace;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.name {
     font-size: 45px;
     margin-bottom: 3px;
     font-weight: 400;
}

.designation {
    font-size: 15px;
    margin-top: 0px;
}

.section_headings {
    margin-top: 50px;
    margin-bottom: 50px;
}

.projects {
    margin-bottom: 30px;
}

a {
    text-decoration: none; /* Remove underline */
    color: #000; /* Set link font color */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 16px;
}

.video_file {
    width: 100%;
    height: 500px;
    display: block;
}

p {
      font-weight: 300;
      font-size: 16px; /* Default font size */
      margin-bottom: 30px;
}

/* Responsive Font Sizes using Viewport Units */
@media screen and (min-width: 600px) {
     .name {
          font-size: 50px;
     }
     .designation {
               font-size: 16px;
          }
}
