body {
    background-color: #EEEEEE;
    font-family: 'Sometype Mono', monospace;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-left: 0px;
    padding: 5px;
}

.name {
     font-size: 45px;
     margin-bottom: 3px;
     font-weight: 400;
     padding: 5px;
}

.designation {
    font-size: 15px;
    margin-top: 0px;
}

.section_headings {
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.film_info {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.trailer {
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    padding: 0px;
    align: left;
}

a {
    color: #000; /* Set link font color */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 16px;
}

.video_file {
    width: 100%;
    height: 500px;
    display: block;
}

p {
      font-weight: 300;
      font-size: 16px; /* Default font size */
      margin-bottom: 30px;
}

.video-container {
      position: relative;
      width: 100%;
      padding-top: 56.25%; /* 16:9 aspect ratio for responsive sizing */
      overflow: hidden;
      padding-bottom:50px
}

.video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 5px;/* Remove padding */
}

.image-grid {
	--gap: 16px;
	--num-cols: 3;
	--row-height: 200px;

	box-sizing: border-box;
	/*padding: var(--gap);*/

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
	padding: 5px;
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-col-4 {
	grid-column: span 3;
}

.image-grid-row-2 {
	grid-row: span 2;
}

.image-grid-row-3 {
	grid-row: span 3;
}

/* Responsive Font Sizes using Viewport Units */
@media screen and (min-width: 600px) {
     .name {
          font-size: 50px;
     }
     .designation {
          font-size: 16px;
     }
     body {
          padding: 30px;
     }
     section {
          margin: 0 auto;
     }
}

@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container {
    flex: 0.6;
    padding: 5px;
    display: flex;
    justify-content: left;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.text-container {
    flex: 1.4;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
     .container {
        flex-direction: column;
     }

     .image-container, .text-container {
        width: 100%;
     }

     .text-container {
        order: 2;
        padding: 15px;
        flex: none;
     }

    .image-container {
        order: 1;
        padding: 15px;
        flex: none;  /* Reset flex for mobile view */
        max-width: 250px;  /* Constrain the container width on mobile */
        margin: 0 auto;
    }

    .image-container img {
       max-width: 100%;
    }
}

.social-media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.embed-container {
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   padding: 20px;
   height: 100%;
   overflow: hidden;
}

.twitter-embed, .instagram-embed {
   width: 100%;
   min-height: 400px;
   display: flex;
   justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 900px) {
   .social-media-grid {
        grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 600px) {
   .social-media-grid {
       grid-template-columns: 1fr;
}
